# Part 3 - Data Prep

https://www.udemy.com/course/feature-engineering-for-machine-learning

* Types and characteristics of data
* Missing data imputation
* Categorical encoding
* Variable transformation
* Discretization
* Outliers
* Datetime
* Scaling
* Feature creation

## Load Data

In [ ]:
import pandas as pd

df = pd.read_csv('/content/created_raw_data.csv')
print(df.shape)
print(df.info())
df.head()

(1010, 41)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   binary                 808 non-null    object
 1   given_name             707 non-null    object
 2   surname                505 non-null    object
 3   date_of_birth          807 non-null    object
 4   phone_number           909 non-null    object
 5   email                  958 non-null    object
 6   address                633 non-null    object
 7   city                   859 non-null    object
 8   state                  865 non-null    object
 9   zipcode                640 non-null    float64
 10  semi_constant_2        1010 non-null   object
 11  multicollinearity 3    706 non-null    float64
 12  constant_1             1010 non-null   object
 13  random choice 2        709 non-null    object
 14  informative_2          1010 non-null   float64
 15  correlated w target 2  809 non-null    float64
 16  uniform corr 1         707 non-null    float64
 17  pd qcut1               909 non-null    object
 18  target                 1010 non-null   float64
 19  min max scaling        708 non-null    float64
 20  semi_constant_1        1010 non-null   object
 21  correlated w target 1  707 non-null    float64
 22  pd qcut3               908 non-null    object
 23  outliers 2             1010 non-null   float64
 24  multicollinearity 1    960 non-null    float64
 25  random choice 7        808 non-null    object
 26  random choice 4        1010 non-null   object
 27  duplicate_2            1010 non-null   float64
 28  duplicate_1            1010 non-null   float64
 29  pd qcut2               709 non-null    object
 30  random label num 14    1010 non-null   object
 31  uniform corr 2         910 non-null    float64
 32  multicollinearity 2    505 non-null    float64
 33  outliers 1             910 non-null    float64
 34  multicollinearity 4    1010 non-null   float64
 35  random label num 3     1010 non-null   object
 36  standard scaling       959 non-null    float64
 37  corr_feature_class     706 non-null    float64
 38  informative_1          1010 non-null   float64
 39  constant_2             1010 non-null   object
 40  class                  1010 non-null   int64
dtypes: float64(19), int64(1), object(21)
memory usage: 323.6+ KB
None

,binary,given_name,surname,date_of_birth,phone_number,email,address,city,state,zipcode,...,uniform corr 2,multicollinearity 2,outliers 1,multicollinearity 4,random label num 3,standard scaling,corr_feature_class,informative_1,constant_2,class
0,NaN,Shawn,NaN,1933-08-31,(968)487-2956x27427,walkeramanda@example.com,045 Fowler Spring Apt. 450,West Bruce,MA,32951.0,...,0.336978,-1.030274,0.768145,0.371535,label num lo 3,53962.853545,3.184217,-0.999102,constant_value,1
1,binary_2,John,Bryant,2004-12-19,731.899.4368x677,NaN,76988 Tony Plains Suite 161,Shannonhaven,ME,NaN,...,0.832943,NaN,0.274048,0.195892,label num lo 3,42805.421121,NaN,1.246686,constant_value,1
2,binary_1,NaN,NaN,1944-02-04,001-877-232-0290x332,NaN,NaN,Kaylafort,WA,3222.0,...,0.685752,0.844525,0.188039,-0.239963,label num lo 2,42575.623356,NaN,0.962777,constant_value,1
3,binary_2,NaN,NaN,NaN,768-419-9512x282,hcollins@example.net,585 Rivas River,East Rachel,DC,NaN,...,0.777135,0.174121,1.784847,-0.770139,label num lo 1,46758.872175,4.950943,-2.957441,constant_value,1
4,binary_1,Shannon,Williamson,1993-01-06,NaN,davidanderson@example.org,322 Roberts Mountains Suite 220,Katiebury,KS,83537.0,...,0.992948,NaN,0.846802,0.968097,label num lo 1,64374.589787,2.071837,1.141165,constant_value,1

In [ ]:
import preppy.utils as utils
from preppy.version import __version__

print(__version__)

utils.report.write_report(df, thresh=.5)

PrepPy Version: 0.1.0
REPORT FOR DATA PREP

#################################################
Columns with Constant Values
#################################################
['constant_1', 'constant_2']

#################################################
Columns with Quasi-Constant Values
#################################################
['class', 'constant_1', 'constant_2']

#################################################
Duplicate Rows
#################################################
20

#################################################
Duplicate Columns
#################################################
['constant_2', 'duplicate_2', 'informative_1']

#################################################
Variables with Noticeably Higher Scales
#################################################
Features with Noticeably Higher Scales (Based on Standard Deviation):
zipcode             28281.011740
standard scaling     9799.815458
Name: std, dtype: float64

Features with Noticeably Higher Scales (Based on Range):
zipcode             99063.000000
standard scaling    59764.030196
dtype: float64
None

#################################################
Variables with Missing Values
#################################################
binary                   202
given_name               303
surname                  505
date_of_birth            203
phone_number             101
email                     52
address                  377
city                     151
state                    145
zipcode                  370
multicollinearity 3      304
random choice 2          301
correlated w target 2    201
uniform corr 1           303
pd qcut1                 101
min max scaling          302
correlated w target 1    303
pd qcut3                 102
multicollinearity 1       50
random choice 7          202
pd qcut2                 301
uniform corr 2           100
multicollinearity 2      505
outliers 1               100
standard scaling          51
corr_feature_class       304
dtype: int64

#################################################
Variables that Need Categorical Encoding
#################################################
Index(['binary', 'given_name', 'surname', 'date_of_birth', 'phone_number',
       'email', 'address', 'city', 'state', 'semi_constant_2', 'constant_1',
       'random choice 2', 'pd qcut1', 'semi_constant_1', 'pd qcut3',
       'random choice 7', 'random choice 4', 'pd qcut2', 'random label num 14',
       'random label num 3', 'constant_2'],
      dtype='object')

#################################################
Variables with Outliers
#################################################
Column: multicollinearity 3
Outliers: [-2.875382173089096, -3.351098510633973, 3.1173877826725223, 2.694811500726064, -3.026211078204232, -2.7630578960604715]
---
Column: informative_2
Outliers: [-4.543441462057407, -4.444491000732856, -4.154350476173738]
---
Column: correlated w target 2
Outliers: [8.3875462741348, 8.449049165176323, 8.421054546698084, 8.61324727026997, 8.943147187653686, 8.334975002357906, -10.116131898859653, 8.49149699662903, 8.479800241865743]
---
Column: target
Outliers: [9.29929607315589]
---
Column: min max scaling
Outliers: [614.3769409804917, 15.913191792487012, 677.0005871180731, 624.0754380336328, 50.49416985151124]
---
Column: correlated w target 1
Outliers: [10.031478108522142, 8.874978976538294, 9.651500008415823, 8.578066711345699, 8.497917554961091]
---
Column: outliers 2
Outliers: [-3.2054127263446697, 9.12381383897036, -3.994178308056704, -3.643167423489064, -4.812920806128201, 11.755554006579302, 9.133443608755872, 8.992358689928022, 9.713512863207352, 9.109381059098537]
---
Column: multicollinearity 1
Outliers: [2.692664819919356, 3.0447505237272576, -3.366206033092588, -2.7670013065151067, -2.942353975781]
---
Column: duplicate_2
Outliers: [-4.543441462057407, -4.444491000732856, -4.154350476173738]
---
Column: duplicate_1
Outliers: [3.994644010615292]
---
Column: multicollinearity 2
Outliers: [-3.0906734846333874, 2.673819587900712]
---
Column: outliers 1
Outliers: [-3.5248485676034904, 3.665068750924641, 3.408732152174489, 3.5364543816556977, 3.3706416258923357, 4.169915983089064, -3.4865946525421627, -3.052531777602129, 4.807274546013448, -3.319308852524138, -4.117367249059947, 3.72056927840884, 3.378018629328288, 4.654203468044517, 4.439236883463842, 3.0983006892306304, 3.9387992547707222, 4.772572108950715, 5.861472493390263, -3.85285115377172, 3.483817658495292, -3.9704270809490048, 3.750474636209344, 3.1149976719186414, -4.528921442763418, 3.4150178595387173, -3.405060346156393, 4.807127539576949, -4.211964606514454, -4.372872213525771, 3.612270707877667, -3.4389337844918666, -3.220912229019149, -3.0851914157534472, -4.255311822447509, -4.174685253058866, 3.6864672251262895, -3.662956984778305, -3.9317834545660286, 3.4684067680672275, -5.326486674509154, 4.854840174230252, 4.024958036824994, -3.0425272599893654, 3.57041913338211, 3.221575988639449, 3.363735545950384, -3.14118425890593, -3.031843799566192, -3.21808160320018, -3.5248485676034904]
---
Column: multicollinearity 4
Outliers: [-3.217381370427882, 4.131946935724649, 2.76683095084237, -2.834893437771881, -2.828369148431475, 2.986942997042118, -2.71561674259049, -2.664011081579691]
---
Column: standard scaling
Outliers: [22359.867406531248, 17902.776154828345, 76939.21525770356, 24074.52798635742, 75997.02133647235, 77628.64208571438, 75864.59342709463, 23472.186434040737, 22837.00706551619, 22105.519987076437, 21519.97501648488, 77666.80635115827, 21108.52973195368]
---
Column: corr_feature_class
Outliers: [-13.169187786705464, 8.97587527250261, 10.107096552178064, -4.714829254073315, 13.804089899240596, 9.77561029843773, 9.044366079041332, 11.479568945571025, -4.952884265651165, 10.225708501430052, 8.75419031704894, 10.047485959848302, -4.714241102879967, 8.694709306206985, -6.344769922356402, -5.830627677547524, 9.363227139744232, -6.714723052135385, -5.367679663471263, 13.79842443101652, -7.459886105842981, -7.193755541815005, -7.109059687806557, -7.782819810230228, -11.861406762679998, -13.169187786705464]
---
Column: informative_1
Outliers: [3.994644010615292]
---

#################################################
END OF REPORT
#################################################

In [ ]:
import preppy.utils as preppy

consts = preppy.functions.identify_consts(df)
quasi_consts = preppy.functions.identify_quasi_consts(df)
duplicates = preppy.functions.check_col_duplicates(df)
print(duplicates)
print(consts)
print(quasi_consts)

['constant_2', 'duplicate_2', 'informative_1']
['constant_1', 'constant_2']
['constant_1', 'constant_2']

In [ ]:
# numeric_df = df.apply(pd.to_numeric, errors='coerce')
all_deletes = list(set(consts + quasi_consts + duplicates))
for col in all_deletes:
  print(col, df[col].dtype)
  if df[col].dtype in ['float64', 'int64']:
    df_numerical.remove(col)
  elif df[col].dtype in ['object']:
    df_object.remove(col)
    df_categorical_features.remove(col)
  else:
    df_discreet.remove(col)

constant_1 object
informative_1 float64
constant_2 object
duplicate_2 float64

## PrepPy Pipeline

In [ ]:
import numpy as np
import pandas as pd
from sklearn.pipeline import Pipeline
import preppy.utils as preppy

pipe = [
    ('constants', preppy.classes.RemoveConstants()),
    ('quasiconsts', preppy.classes.RemoveQuasiConstants(thresh=0.8)),
    ('duplicates', preppy.classes.DropDuplicates()),
    ('missing', preppy.classes.HandleMissingValues()),
    # ('encoding', HandleCatEncodeing())
]

pipe_model = Pipeline(pipe)
data = pipe_model.fit_transform(df)
cols = [col for col in df.columns if col not in consts + quasi_consts + duplicates]
nu_df = pd.DataFrame(data, columns=cols)
nu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 37 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   binary                 1000 non-null   object
 1   given_name             1000 non-null   object
 2   surname                1000 non-null   object
 3   date_of_birth          1000 non-null   object
 4   phone_number           1000 non-null   object
 5   email                  1000 non-null   object
 6   address                1000 non-null   object
 7   city                   1000 non-null   object
 8   state                  1000 non-null   object
 9   zipcode                1000 non-null   object
 10  semi_constant_2        1000 non-null   object
 11  multicollinearity 3    1000 non-null   object
 12  random choice 2        1000 non-null   object
 13  informative_2          1000 non-null   object
 14  correlated w target 2  1000 non-null   object
 15  uniform corr 1         1000 non-null   object
 16  pd qcut1               1000 non-null   object
 17  target                 1000 non-null   object
 18  min max scaling        1000 non-null   object
 19  semi_constant_1        1000 non-null   object
 20  correlated w target 1  1000 non-null   object
 21  pd qcut3               1000 non-null   object
 22  outliers 2             1000 non-null   object
 23  multicollinearity 1    1000 non-null   object
 24  random choice 7        1000 non-null   object
 25  random choice 4        1000 non-null   object
 26  duplicate_1            1000 non-null   object
 27  pd qcut2               1000 non-null   object
 28  random label num 14    1000 non-null   object
 29  uniform corr 2         1000 non-null   object
 30  multicollinearity 2    1000 non-null   object
 31  outliers 1             1000 non-null   object
 32  multicollinearity 4    1000 non-null   object
 33  random label num 3     1000 non-null   object
 34  standard scaling       1000 non-null   object
 35  corr_feature_class     1000 non-null   object
 36  class                  1000 non-null   object
dtypes: object(37)
memory usage: 289.2+ KB

/content/preppy/utils/functions.py:61: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dfx[feat] = df[feat].fillna(df[feat].mode()[0])

In [ ]:
import pickle

# Load the pickled variable from the file
with open('var_types.pkl', 'rb') as f:
    var_types = pickle.load(f)

print(var_types)

{'df_numerical': ['zipcode', 'multicollinearity 3', 'informative_2', 'correlated w target 2', 'uniform corr 1', 'target', 'min max scaling', 'correlated w target 1', 'outliers 2', 'multicollinearity 1', 'duplicate_2', 'duplicate_1', 'uniform corr 2', 'multicollinearity 2', 'outliers 1', 'multicollinearity 4', 'standard scaling', 'corr_feature_class', 'informative_1', 'class'], 'df_object': ['binary', 'given_name', 'surname', 'date_of_birth', 'phone_number', 'email', 'address', 'city', 'state', 'semi_constant_2', 'constant_1', 'random choice 2', 'pd qcut1', 'semi_constant_1', 'pd qcut3', 'random choice 7', 'random choice 4', 'pd qcut2', 'random label num 14', 'random label num 3', 'constant_2'], 'df_discreet': [], 'df_categorical_features': ['binary', 'given_name', 'surname', 'date_of_birth', 'phone_number', 'email', 'address', 'city', 'state', 'semi_constant_2', 'constant_1', 'random choice 2', 'pd qcut1', 'semi_constant_1', 'pd qcut3', 'random choice 7', 'random choice 4', 'pd qcut2', 'random label num 14', 'random label num 3', 'constant_2']}

In [ ]:
df_numerical = var_types['df_numerical']
df_object = var_types['df_object']
df_discreet = var_types['df_discreet']
df_categorical_features = var_types['df_categorical_features']

In [ ]:
# code along
df_numerical = [col for col in nu_df.columns if col in var_types['df_numerical']]
nu_df[df_numerical] = nu_df[df_numerical].astype(float)
nu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 37 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   binary                 1000 non-null   object
 1   given_name             1000 non-null   object
 2   surname                1000 non-null   object
 3   date_of_birth          1000 non-null   object
 4   phone_number           1000 non-null   object
 5   email                  1000 non-null   object
 6   address                1000 non-null   object
 7   city                   1000 non-null   object
 8   state                  1000 non-null   object
 9   zipcode                1000 non-null   float64
 10  semi_constant_2        1000 non-null   object
 11  multicollinearity 3    1000 non-null   float64
 12  random choice 2        1000 non-null   object
 13  informative_2          1000 non-null   float64
 14  correlated w target 2  1000 non-null   float64
 15  uniform corr 1         1000 non-null   float64
 16  pd qcut1               1000 non-null   object
 17  target                 1000 non-null   float64
 18  min max scaling        1000 non-null   float64
 19  semi_constant_1        1000 non-null   object
 20  correlated w target 1  1000 non-null   float64
 21  pd qcut3               1000 non-null   object
 22  outliers 2             1000 non-null   float64
 23  multicollinearity 1    1000 non-null   float64
 24  random choice 7        1000 non-null   object
 25  random choice 4        1000 non-null   object
 26  duplicate_1            1000 non-null   float64
 27  pd qcut2               1000 non-null   object
 28  random label num 14    1000 non-null   object
 29  uniform corr 2         1000 non-null   float64
 30  multicollinearity 2    1000 non-null   float64
 31  outliers 1             1000 non-null   float64
 32  multicollinearity 4    1000 non-null   float64
 33  random label num 3     1000 non-null   object
 34  standard scaling       1000 non-null   float64
 35  corr_feature_class     1000 non-null   float64
 36  class                  1000 non-null   float64
dtypes: float64(18), object(19)
memory usage: 289.2+ KB

## Feature Engineering

### Feature Combination

In [ ]:
# create a new variable by combining two variables
df['scaling_combined'] = df['standard scaling'] + df['min max scaling']
df.drop(['standard scaling', 'min max scaling'], axis=1, inplace=True)

### Categorical Encoding

In [ ]:
# code along
import preppy.utils as utils

# Impute missing values before applying do_OHE
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].fillna(df[col].mode()[0])

df = utils.functions.do_OHE(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 45 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   binary                             808 non-null    float64
 1   given_name                         1010 non-null   float64
 2   surname                            1010 non-null   float64
 3   date_of_birth                      1010 non-null   float64
 4   phone_number                       1010 non-null   float64
 5   email                              1010 non-null   float64
 6   address                            1010 non-null   float64
 7   city                               1010 non-null   float64
 8   state                              1010 non-null   float64
 9   zipcode                            640 non-null    float64
 10  multicollinearity 3                706 non-null    float64
 11  random choice 2                    1010 non-null   int64
 12  informative_2                      1010 non-null   float64
 13  correlated w target 2              809 non-null    float64
 14  uniform corr 1                     707 non-null    float64
 15  pd qcut1                           1010 non-null   int64
 16  target                             1010 non-null   float64
 17  correlated w target 1              707 non-null    float64
 18  pd qcut3                           1010 non-null   float64
 19  outliers 2                         1010 non-null   float64
 20  multicollinearity 1                960 non-null    float64
 21  random choice 7                    1010 non-null   float64
 22  duplicate_2                        1010 non-null   float64
 23  duplicate_1                        1010 non-null   float64
 24  random label num 14                1010 non-null   float64
 25  uniform corr 2                     910 non-null    float64
 26  multicollinearity 2                505 non-null    float64
 27  outliers 1                         910 non-null    float64
 28  multicollinearity 4                1010 non-null   float64
 29  corr_feature_class                 706 non-null    float64
 30  informative_1                      1010 non-null   float64
 31  class                              1010 non-null   int64
 32  scaling_combined                   673 non-null    float64
 33  semi_constant_2_q_const_0_1        1010 non-null   float64
 34  semi_constant_2_q_const_0_2        1010 non-null   float64
 35  semi_constant_1_q_const_0_1        1010 non-null   float64
 36  semi_constant_1_q_const_0_2        1010 non-null   float64
 37  random choice 4_North              1010 non-null   float64
 38  random choice 4_South              1010 non-null   float64
 39  random choice 4_West               1010 non-null   float64
 40  pd qcut2_Q2                        1010 non-null   float64
 41  pd qcut2_Q3                        1010 non-null   float64
 42  pd qcut2_Q4                        1010 non-null   float64
 43  random label num 3_label num lo 2  1010 non-null   float64
 44  random label num 3_label num lo 3  1010 non-null   float64
dtypes: float64(42), int64(3)
memory usage: 355.2 KB

In [ ]:
df.to_csv('prepared_data.csv', index=False)